MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=pawlife
GROQ_API_KEY=your_groq_api_key
CHANNEL_SERVICE_URL=http://localhost:8001
RENDER_EXTERNAL_URL=http://localhost:8000
